<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    ​
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">

    <meta property="og:title" content="내 사이트의 제목" />
    <meta property="og:description" content="보고 있는 페이지의 내용 요약" />
    <meta property="og:image" content="{{ url_for('static', filename='ogimage.png') }}" />

    <title>스타르타코팅클럽 마지막 프로젝트 - 나의 수익률 계산기</title>
    ​
    <style>
        .make-center {
            text-align: center;
        }

        .star-list {
            width: 500px;
            margin: 20px auto 0 auto;
        }

        .star-name {
            display: inline-block;
        }

        .star-name:hover {
            text-decoration: underline;
        }

        .card {
            margin-bottom: 15px;
        }

        .wrap {
            width: 1200px;
            margin: auto;
        }

        td {
            text-align: center;
        }

        section {
            background-image: url("https://www.jt-corp.co.jp/kr/ir/jstock/images/mainimg_sp.jpg");
            background-repeat: repeat-x;
        }
    </style>


    <script>
        $(document).ready(function () {
            // index.html 로드가 완료되면 자동으로 load_myStock() 함수를 호출합니다.
            load_myStock();
            //load_myStock1();
            dateFind();
        });

        function load_myStock() {
            $.ajax({
                type: 'GET',
                url: '/stock/list',
                data: {},
                success: function (response) {
                    response = JSON.parse(response)
                    if (response['result'] == 'success') {
                        let mystocks = response['stocks'];
                        for (let i = 0; i < mystocks.length; i++) {
                            make_tableTrading(mystocks[i]['_id']['$oid'],
                                mystocks[i]['dateTrading'],
                                mystocks[i]['nameStock'],
                                mystocks[i]['selectTrading'],
                                mystocks[i]['selectNation'],
                                mystocks[i]['numStock'] * 1,
                                mystocks[i]['priceStock'] * 1,
                                mystocks[i]['rateCurrency'] * 1);
                        }
                    }
                }
            });

        }

        function applyName() {
            $.ajax({
                type: 'GET',
                url: '/stock/list',
                data: {},
                success: function (response) {
                    response = JSON.parse(response)
                    let temp_numStock = 0;
                    let temp_priceStock = 0;
                    let temp_priceStock_total = 0;
                    let priceStock_total = 0;
                    numStock_total = 0;
                    priceStock_avg = 0;
                    if (response['result'] == 'success') {
                        let mystocks = response['stocks'];
                        nameStock_select = $('#input-stockselect').val();
                        for (let i = 0; i < mystocks.length; i++) {
                            if (mystocks[i]['nameStock'] == nameStock_select) {
                                if (mystocks[i]['selectTrading'] == '매수') {
                                    temp_numStock = mystocks[i]['numStock'] * 1;
                                    temp_priceStock = mystocks[i]['priceStock'] * 1;
                                    temp_priceStock_total = temp_numStock * temp_priceStock;
                                    priceStock_total += temp_priceStock_total * 1;
                                    numStock_total += temp_numStock * 1;
                                }
                                else if (mystocks[i]['selectTrading'] == '매도') {
                                    temp_numStock = mystocks[i]['numStock'] * 1;
                                    temp_priceStock = mystocks[i]['priceStock'] * 1;
                                    temp_priceStock_total = temp_numStock * temp_priceStock;
                                    priceStock_total -= temp_priceStock_total * 1;
                                    numStock_total -= temp_numStock * 1;
                                }
                                else {
                                    temp_numStock = mystocks[i]['numStock'] * 1;
                                    temp_priceStock = mystocks[i]['priceStock'] * 1;
                                    temp_priceStock_total = temp_numStock * temp_priceStock;
                                    priceStock_total += temp_priceStock_total * 1;
                                }
                            }
                        }
                        priceStock_avg = priceStock_total / numStock_total;
                        priceStock_avg = parseInt(priceStock_avg);
                        load_myStock1();
                    }
                }
            });
        }

        function dateFind() {
            // 오늘날짜 구하기(YYYYMMDD)
            let date = new Date();
            let year = date.getFullYear();
            let month = new String(date.getMonth() + 1);
            let day = new String(date.getDate());

            if (month.length == 1) {
                month = "0" + month;
            }
            if (day.length == 1) {
                day = "0" + day;
            }

            return $('#regDate').text(year + ". " + month + ". " + day);
        }

        function make_tableTrading(id, dateTrading, nameStock, selectTrading, selectNation, numStock, priceStock, rateCurrency) {

            let feeStock = 0;
            let taxTrading = 0;
            let taxIncome = 0;
            let totalAccount = 0;
            let totalPriceStock = 0;

            if (selectNation == "국내") {
                if (selectTrading == '배당') {
                    rateCurrency = 1;
                    totalPriceStock = numStock * priceStock;
                    taxIncome = totalPriceStock * 0.154;
                    taxIncome = Math.floor(taxIncome);
                    totalAccount = totalPriceStock - taxIncome;
                } else {
                    rateCurrency = 1;
                    totalPriceStock = numStock * priceStock;
                    feeStock = totalPriceStock * 0.00015;
                    feeStock = Math.floor(feeStock);
                    taxTrading = totalPriceStock * 0.0025;
                    taxTrading = Math.floor(taxTrading);
                    totalAccount = totalPriceStock + feeStock + taxTrading;
                }
            }
            else {
                priceStock = priceStock * rateCurrency;
                totalPriceStock = numStock * priceStock;
                feeStock = totalPriceStock * 0.00025
                feeStock = Math.floor(feeStock);
                totalAccount = totalPriceStock + feeStock;
            }

            let temp_html = `<tr>
                            <td align=center>
                                <button onclick="delete_stock('${id}')">삭제</button>
                            </td>
                            <td align=center>${dateTrading}</td>
                            <td align=center>${nameStock}</td>
                            <td align=center>${selectTrading}</td>
                            <td align=center>${numStock.toLocaleString()}</td>
                            <td align=center>${priceStock.toLocaleString()}</td>
                            <td align=center>${rateCurrency.toLocaleString()}</td>
                            <td align=center>${totalPriceStock.toLocaleString()}</td>
                            <td align=center>${feeStock.toLocaleString()}</td>
                            <td align=center>${taxTrading.toLocaleString()}</td>
                            <td align=center>${taxIncome.toLocaleString()}</td>
                            <td align=center>${totalAccount.toLocaleString()}</td>
                            </tr>`
            console.log(typeof numStock);
            $('#table-trading').append(temp_html);

        }

        function make_tableName(nameStock_selecting, temp_numStock, priceStock_avg, curPrice) {

            let totalPriceStock = temp_numStock * priceStock_avg;
            let pricenow = curPrice;
            let totalPriceStock_now = temp_numStock * pricenow;
            let ROE_now = ((totalPriceStock_now - totalPriceStock) / totalPriceStock) * 100;
            let temp_html1 = `<tr>
                <td align=center>${nameStock_selecting}</td>
                <td align=center>${temp_numStock.toLocaleString()}</td>
                <td align=center>${priceStock_avg.toLocaleString()}</td>
                <td align=center>${pricenow.toLocaleString()}</td>
                <td align=center>${totalPriceStock.toLocaleString()}</td>
                <td align=center>${totalPriceStock_now.toLocaleString()}</td>
                <td align=center>${ROE_now.toFixed(1)}</td>
                </tr>`
            $('#table-mystocks').empty();
            $('#table-mystocks').append(temp_html1);

        }
        function posting() {
            // 읽기
            let dateTrading = $('#input-dateTrading').val();
            let nameStock = $('#input-nameStock').val();
            let selectTrading = $('#input-selectTrading').val();
            let selectNation = $('#input-selectNation').val();
            let numStock = $('#input-numStock').val();
            let priceStock = $('#input-priceStock').val();
            let rateCurrency = $('#input-rateCurrency').val();

            // 우리가 크롬 콘솔창에서 썼던 그 코드!
            $.ajax({
                type: "POST", // POST 방식으로 요청하겠다.
                url: "/stock/list", // /memo라는 url에 요청하겠다.
                data: {
                    dateTrading_give: dateTrading, nameStock_give: nameStock, selectTrading_give: selectTrading
                    , selectNation_give: selectNation, numStock_give: numStock, priceStock_give: priceStock, rateCurrency_give: rateCurrency
                }, // 데이터를 주는 방법
                success: function (response) { // 성공하면
                    if (response['result'] == 'success') {
                        window.location.reload();
                    } else {
                        alert('서버 오류!')
                    }
                }
            })
        }

        function delete_stock(id) {
            $.ajax({
                type: 'POST',
                url: '/stock/delete',
                data: { id_give: id },
                success: function (response) {
                    if (response['result'] == 'success') {
                        $(this).parent().parent().remove();
                    }
                }
            });
        }
    </script>

    <script>
        function load_myStock1() {
            let nameStock = $('#input-stockselect').val();
            $.ajax({
                type: 'GET',
                url: '/stock/nameStock?nameStock_give=' + nameStock,
                data: {},
                success: function (response) {
                    if (response['result'] == 'success') {
                        let curPrice = response['y'][response['y'].length - 1];
                        make_tableName(nameStock_select, numStock_total, priceStock_avg, curPrice);

                        chartDrowFun.chartDrow(response['x'], response['y']); //chartDrow() 실행
                    }
                }
            });
        }

        function load_myStock2() {
            let assetAppend = 200000000;
            //$('#input-assetAppend').val();
            $.ajax({
                type: 'GET',
                url: '/stock/assetAppend',
                data: {},
                success: function (response) {
                    if (response['result'] == 'success') {
                        let myAsset = response['myAsset'];
                        drawChart(myAsset['date'], myAsset['myAsset'], myAsset['assetSum']);
                    }
                }
            });
        }

        var chartDrowFun = {

            chartDrow: function (x, y) {
                var chartData = '';
                let nameStock = $('#input-stockselect').val();

                //날짜형식 변경하고 싶으시면 이 부분 수정하세요.
                var chartDateformat = 'yyyy년MM월dd일';
                //라인차트의 라인 수
                var chartLineCount = 10;
                //컨트롤러 바 차트의 라인 수
                var controlLineCount = 10;


                function drawDashboard() {

                    var data = new google.visualization.DataTable();
                    //그래프에 표시할 컬럼 추가
                    data.addColumn('datetime', '날짜');
                    data.addColumn('number', nameStock);

                    //그래프에 표시할 데이터
                    var dataRow = [];

                    for (var i = 0; i <= x.length; i++) { //랜덤 데이터 생성
                        dataRow = [new Date(x[i]), y[i]];
                        data.addRow(dataRow);
                    }


                    var chart = new google.visualization.ChartWrapper({
                        chartType: 'LineChart',
                        containerId: 'lineChartArea', //라인 차트 생성할 영역
                        options: {
                            isStacked: 'percent',
                            focusTarget: 'category',
                            height: 500,
                            width: '100%',
                            legend: { position: "top", textStyle: { fontSize: 13 } },
                            pointSize: 1,
                            tooltip: { textStyle: { fontSize: 12 }, showColorCode: true, trigger: 'both' },
                            hAxis: {
                                format: chartDateformat, gridlines: {
                                    count: chartLineCount, units: {
                                        years: { format: ['yyyy년'] },
                                        months: { format: ['MM월'] },
                                        days: { format: ['dd일'] },
                                        hours: { format: ['HH시'] }
                                    }
                                }, textStyle: { fontSize: 12 }
                            },
                            vAxis: { minValue: 100, viewWindow: { min: 0 }, gridlines: { count: -1 }, textStyle: { fontSize: 12 } },
                            animation: { startup: true, duration: 1000, easing: 'in' },
                            annotations: {
                                pattern: chartDateformat,
                                textStyle: {
                                    fontSize: 15,
                                    bold: true,
                                    italic: true,
                                    color: '#871b47',
                                    auraColor: '#d799ae',
                                    opacity: 0.8,
                                    pattern: chartDateformat
                                }
                            }
                        }
                    });

                    var control = new google.visualization.ControlWrapper({
                        controlType: 'ChartRangeFilter',
                        containerId: 'controlsArea',  //control bar를 생성할 영역
                        options: {
                            ui: {
                                chartType: 'LineChart',
                                chartOptions: {
                                    chartArea: { 'width': '60%', 'height': 80 },
                                    hAxis: {
                                        'baselineColor': 'none', format: chartDateformat, textStyle: { fontSize: 12 },
                                        gridlines: {
                                            count: controlLineCount, units: {
                                                years: { format: ['yyyy년'] },
                                                months: { format: ['MM월'] },
                                                days: { format: ['dd일'] },
                                                hours: { format: ['HH시'] }
                                            }
                                        }
                                    }
                                }
                            },
                            filterColumnIndex: 0
                        }
                    });

                    var date_formatter = new google.visualization.DateFormat({ pattern: chartDateformat });
                    date_formatter.format(data, 0);

                    var dashboard = new google.visualization.Dashboard(document.getElementById('Line_Controls_Chart'));
                    window.addEventListener('resize', function () { dashboard.draw(data); }, false); //화면 크기에 따라 그래프 크기 변경
                    dashboard.bind([control], [chart]);
                    dashboard.draw(data);

                }
                google.charts.setOnLoadCallback(drawDashboard());

            }
        }

        $(document).ready(function () {
            google.charts.load('current', { 'packages': ['line', 'controls'] });
        });

    </script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);
        s
        function drawChart(x, y, z) {
            var dataRow = [];

            for (var i = 0; i <= x.length; i++) { //랜덤 데이터 생성
                dataRow = [x[i], y[i], z[i]];
                let rawdata = data.addRow(dataRow);
            }

            var data = google.visualization.arrayToDataTable(rawdata);

            var options = {
                title: 'The decline of \'The 39 Steps\'',
                vAxis: { title: 'Accumulated Rating' },
                isStacked: true
            };

            var chart = new google.visualization.SteppedAreaChart(document.getElementById('chart_div2'));

            chart.draw(data, options);
        }
    </script>

</head>

<body>
    <div class="wrap">
        <section class="hero is-warning">
            <div class="hero-body">
                <div class="container make-center">
                    <h1 class="title" style="color:rgb(240, 225, 14);">
                        나의 수익률 계산기
                    </h1>
                    <h2 class="subtitle" id="regDate" style="color:rgb(243, 230, 47);">
                        Today Date
                    </h2>
                </div>
            </div>
        </section>
        <br>
        <div class="container">
            <div class="row">
                <label class="col">거래일자</label>
                <div class="col">
                    <input class="form-control" type="text" id="input-dateTrading" placeholder="YYYYMMDD">
                </div>
                <label class="col">거래종목</label>
                <div class="col">
                    <input class="form-control" type="text" id="input-nameStock" placeholder="예) 삼성전자">
                </div>
                <div class="w-100"></div>
                <label class="col">매매종류</label>
                <div class="col">
                    <input class="form-control" type="text" id="input-selectTrading" placeholder="매수/매도/배당 중 선택">
                </div>
                <label class="col">국내/해외</label>
                <div class="col">
                    <input class="form-control" type="text" id="input-selectNation" placeholder="국내/해외 중 선택">
                </div>
                <div class="w-100"></div>
                <label class="col">환율</label>
                <div class="col">
                    <input class="form-control" type="text" id="input-rateCurrency" placeholder="달러일 경우만 반영">
                </div>
                <label class="col">주문량</label>
                <div class="col">
                    <input class="form-control" type="text" id="input-numStock" placeholder="몇주를 사셨나요?">
                </div>
                <div class="w-100"></div>
                <label class="col">체결가</label>
                <div class="col">
                    <input class="form-control" type="text" id="input-priceStock" placeholder="국내(원)/해외($)">
                </div>
                <div class="col">
                    <button onclick="posting()" style="width : 200px; background-color : rgb(0, 195, 255); 
                    height: 35px;">등록</button>
                </div>
                <label class="col"></label>
            </div>
        </div>
        <br>
        <br>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: darkkhaki;">
                <li class="breadcrumb-item active" aria-current="page" style="color:blue; font-size: larger;">매매일지</li>
            </ol>
        </nav>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">삭제</th>
                    <th scope="col">일자</th>
                    <th scope="col">종목</th>
                    <th scope="col">주문구분</th>
                    <th scope="col">주문량(주)</th>
                    <th scope="col">체결가(원)</th>
                    <th scope="col">환율(원)</th>
                    <th scope="col">주문금액(원)</th>
                    <th scope="col">수수료(원)</th>
                    <th scope="col">거래세(원)</th>
                    <th scope="col">소득세(원)</th>
                    <th scope="col">실금액(원)</th>
                </tr>

            </thead>
            <tbody id="table-trading">
            </tbody>
        </table>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: darkkhaki;">
                <li class="breadcrumb-item active" aria-current="page" style="color:blue; font-size: larger;">현재 보유 종목별
                    수익률</li>
            </ol>
        </nav>
        <div class="form-inline">
            <div class="form-group form-group-sm" style="width: 400px">
                <label class="col-sm-5 control-label" for="formGroupInputSmall">종목선택</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" id="input-stockselect" placeholder="종목명 입력">
                </div>
            </div>
            <div class="form-group form-group-sm">
                <button type="submit" class="btn btn-default" onclick="applyName()">적용</button>
            </div>
        </div>
        <br>
        <br>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" center>종목명</th>
                    <th scope="col" center>보유수량(주)</th>
                    <th scope="col">매입가(원)</th>
                    <th scope="col">현재가(원)</th>
                    <th scope="col">투자금액(원)</th>
                    <th scope="col">평가금액(원)</th>
                    <th scope="col">수익률(%)</th>
                </tr>

            </thead>
            <tbody id="table-mystocks">
            </tbody>
        </table>

        <!-- <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">종목별 가격 그래프</li>
            </ol>
        </nav>
        <div id="chart_div" style="height: 500px;"></div> -->

        <br>

        <div id="Line_Controls_Chart">
            <!-- 라인 차트 생성할 영역 -->
            <div id="lineChartArea" style="padding:0px 20px 0px 0px;"></div>
            <!-- 컨트롤바를 생성할 영역 -->
            <div id="controlsArea" style="padding:0px 20px 0px 0px;"></div>
        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: darkkhaki;">
                <li class="breadcrumb-item active" aria-current="page" style="color:blue; font-size: larger;">총자산 그래프
                </li>
            </ol>
        </nav>
        <div id="chart_div2" style="height: 500px;"></div>
    </div>
</body>

</html>